<!DOCTYPE html>
  <head>
    <title>RPi MPU-6050 data stream</title>
  </head>
  
  <body>
    <h2>Hi!</h2>
    <p>Go to <i>/function/function_name/</i> to see the output of function.</p>
    <table border="1" style="width:100%">
      <tr>
        <td><b>Function name</b></td>
        <td><b>Description</b></td>
        <td><b>Output</b></td>
      </tr>
      <tr>
        <td><a href="/function/acc_data">acc_data</a></td>
        <td>Displays MPU-6050 acceleromater data</td>
        <td>(x, y, z, x_rotation, y_rotaion)</td>
      </tr>
    </table>
  </body>
</html>
